* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;
}

body {
    background: none;
    background-color: #101326;
}

header {
    background-image: url(img/Vector\ Smart\ Object.svg);
    width: 100%;
    height: 625px;
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}



.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #10132670;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.nav-links {
    transition: 0.7s ease;
    color: #ffffff;
}
.nav-links:hover{
    color: #fed257;
}

.hambuger {
    display: none;
    cursor: pointer;
}

.btn1 {
    background-color: #fed257;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.7s ease-in-out;
}
.btn1:hover{
    color: #212147;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fed257;
}

.nav-items:before {
    position: absolute;
    content: '';
    left: 0;
    top: 25px;
    width: 100%;
    height: 4px;
    background: #fed257;
    transform: scaleX(0);
    transform-origin: right;
    transition: 1s;
}

.nav-items:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}
.nav-text h1{
    font-family:Quicksand;
    font-size: 120px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 8px 8px 1px rgba(253, 253, 253, 0.11);
    line-height: 130px;
}
.nav-text p{
    font-family: Quicksand;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-left: -50px;
    line-height: 30px;
}

.circle{
    background-color: #fed257;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 180px;
    margin-left: -120px;
}
.sec2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.sec2-txt {
    margin-left: 20px;
} 

.sec2-txt p {
    color: #fed257;
    font-size: 18px;
    font-weight: 500;
}

.sec2-txt h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.sec2-txt2 p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
}

.all-list {
    display: flex;
    margin-top: 20px;
}

.list li {
    color: #ffffff;
    list-style-type: none;
    font-size: 12px;
    font-weight: 300;
    padding: 6px 0px;
}

.list1 li {
    color: #ffffff;
    list-style-type: none;
    font-size: 12px;
    font-weight: 300;
    padding: 6px 0px;
    margin-left: 100px;
}

.btn-sec2 {
    display: flex;
    margin-top: 22px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -100px;
}

.sec2-btn button {
    border: none;
    background-color: #fed257;
    width: 120px;
    height: 30px;
    border-radius: 20px;
}

.sec2-btn button a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.sec2-btn2 button {
    border: #ffffff solid 1px;
    background: none;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    margin: 0px 10px;
}

.sec2-btn2 button a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.sec2-btn2 :hover{
    background-color: #fed257;
    transition: transform .5s ease;
}

.sec3-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sec3-cad {
    background-color: #212147;
    width: 280px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(31, 25, 44, 0.192);
    margin-left: 50px;
    margin-top: 50px;
}

.sec3-txt {
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}

.sec3-txt p {
    color: #fed257;
    font-size: 18px;
    font-weight: 500;
}

.sec3-txt h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.sec3-img {
    padding-top: 50px;
    padding-left: 30px;
}

.sec3-txt1 {
    padding-left: 35px;
    padding-top: 0px;
}

.sec3-txt1 h1 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 550;
    padding-top: 20px;
}

.sec3-txt1 p {
    color: #ffffff;
    font-size: 12px;
    padding-top: 15px;
    font-weight: 300;
}
.differs a{
 color: #fed257; 
 font-size: 13px; 
 font-weight: 500; 
 text-decoration: none;
}


.sec4-txt p {
    color: #fed257;
    font-size: 18px;
    font-weight: 500;
}

.sec4-txt h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.sec4-txt {
    margin-top: 120px;
    text-align: center;
}

.sec-4a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.txt4 {
    margin-top: 40px;
}

.txt4 li {
    list-style-type: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.txt4 p {
    color: #fed157d3;
    font-size: 15px;
    font-weight: 400;
}

.txt4 p span {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-left: 200px;
}

.sty4 {
    background-color: #8080808f;
    width: 310px;
    height: 3px;
    border-radius: 20px;
}

.sty4a {
    background-color: #fed257;
    width: 250px;
    height: 3px;
    border-radius: 20px;
}

.txt5 {
    margin-top: 40px;
}

.txt5 li {
    list-style-type: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.txt5 p {
    color: #fed157d3;
    font-size: 15px;
    font-weight: 400;
}

.txt5 p span {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-left: 160px;
}

.sty5 {
    background-color: #8080808f;
    width: 310px;
    height: 3px;
    border-radius: 20px;
}

.sty5a {
    background-color: #fed257;
    width: 280px;
    height: 3px;
    border-radius: 20px;
}

.sty-45 {
    padding: 0px 150px;
}

.txt-67 {
    padding: 0px 140px;
}

.txt6 {
    margin-top: 40px;
}

.txt6 li {
    list-style-type: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.txt6 p {
    color: #fed157d3;
    font-size: 15px;
    font-weight: 400;
}

.txt6 p span {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-left: 160px;
}

.sty6 {
    background-color: #8080808f;
    width: 310px;
    height: 3px;
    border-radius: 20px;
}

.sty6a {
    background-color: #fed257;
    width: 275px;
    height: 3px;
    border-radius: 20px;
}


.txt7 {
    margin-top: 40px;
}

.txt7 li {
    list-style-type: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.txt7 p {
    color: #fed157d3;
    font-size: 15px;
    font-weight: 400;
}

.txt7 p span {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-left: 210px;
}

.sty7 {
    background-color: #8080808f;
    width: 310px;
    height: 3px;
    border-radius: 20px;
}

.sty7a {
    background-color: #fed257;
    width: 150px;
    height: 3px;
    border-radius: 20px;
}

.sec5{
    background-image: url(img/background.png);
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 280px;
}

.sec5-img img {
    opacity: 50%;
}

.Sec5-text {
    margin-top: -140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
}

.Sec5-text1 {
    padding: 0px 80px;
}

.Sec5-text1 h1 {
    color: #fed257;
    font-size: 30px;
    font-weight: 600;
}

.Sec5-text1 p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.sec6-txt {
    text-align: center;
    justify-content: center;
    margin-top: 180px;
}

.sec6-txt p {
    color: #fed157;
    font-size: 18px;
    font-weight: 500;
}

.sec6-txt h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.image1 img {
    border: 5px solid #ffffff;
    transition: transform .5s ease;
}

.image1:hover img {
    transform: scale(1.1);
}

.image2a img {
    transition: transform .5s ease;
}

.image2a:hover img {
    transform: scale(1.1);
}

.flex {
    display: flex;
    justify-content: center;
    transition: transform;
    flex-wrap: wrap;
}

.image2 {
    margin-left: 15px;
}

.image2b img {
    transition: transform .5s ease;
}

.image2b:hover img {
    transform: scale(1.1);
}

.image2b img {
    margin-top: -25px;
}

.image3 {
    margin-top: 6px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.img1 img {
    transition: transform .5s ease;
}

.img1:hover img {
    transform: scale(1.1);
}

.img1 img {
    padding: 0px 10px;
}

.img2 img {
    transition: transform .5s ease;
}

.img2:hover img {
    transform: scale(1.1);
}

.img3 img {
    padding: 0px 10px;
}

.img3 img {
    transition: transform .5s ease;
}

.img3:hover img {
    transform: scale(1.1);
}

.sec8-img {
    justify-content: center;
}

.flex1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image4 {
    margin: left -13px;
}

.image4 img {
    border: 1px solid #fed257;
    transition: transform .5s ease;
}

.image4:hover img {
    transform: scale(1.1);
}

.sec8-img1 {
    justify-content: center;
    margin-top: 50px;
}

.image5 {
    padding-left: 15px;
}

.image5 img {
    border: 5px solid #ffffff;
    transition: transform .5s ease;
}

.image5:hover img {
    transform: scale(1.1);
}

.image-67A {
    margin-top: 270px;
    margin-left: -350px;
    display: flex;
}

.item img {
    transition: transform .5s ease;
}

.item:hover img {
    transform: scale(1.1);
}

.item1 img {
    transition: transform .5s ease;
    padding: 0px 15px;
}

.item1:hover img {
    transform: scale(1.1);
}


.nav1 ul {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin-left: 50px;
}

.nav1 ul li {
    list-style-type: none;
}

.nav1 ul li a {
    text-decoration: none;
    padding: 0px 15px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.nav1 ul li a:hover {
    color: #fed257;
}

.nav1 {
    margin-right: 80px;
}

.carousel{
    text-align: center;
    margin-top: 100px;
}

.carousel-inner{
    text-align: center;
}

.carousel-caption h5{
    margin-top: 180px;
}

.bootstrap-txt h5{
    color: #ffffff;
}
.bootstrap-txt p{
    color: #ffffff;
    margin-bottom: 20px;
}

.con {
    display: flex;
}

.con-txt p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 20px;
}

.con1 {
    display: flex;
    margin-top: 50px;
}

.con1-img {
    border: #fed157 3px solid;
    border-radius: 50px;
    width: 30px;
    color: #ffffff;
    height: 30px;
    padding-top: 2px;
    text-align: center;
}

.con1-txt p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 20px;
}

.input1a {
    margin-left: 20px;
}

.con-inp {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.input-1 input {
    background: none;
    border: #8080808f solid 1px;
    width: 200px;
    height: 35px;
    color: #ffffff;

}

.input-2  textarea{
    background: none;
    width: 423px;
    height: 230px;
    margin-top: 20px;
    color: #ffffff;
    padding-left: 10px;
}

.CON-btn {
    text-align: center;
    margin-top: 40px;
}

.CON-btn button {
    border: none;
    background-color: #fed257;
    width: 150px;
    height: 35px;
    border-radius: 20px;

}

.CON-btn button a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
    background-color: #21214763;
}

.con-txt1 p {
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    padding-top: 10px;
}

.icons {
    align-items: center;
}
.fa-brands{
    color: #ffffff;
}
.fa-brands:hover{
    color: #fed157;
}
.icons a{
    padding: 0px 5px;
}


















@media (max-width: 800px) {
    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #fed257;
    }

    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-links {
        transition: 0.7s ease;
        color: #101326;
    }

    a {
        font-weight: 700;
    }
}